body {
	margin-top: 0%;
}

label {
	font-size: small;
	font-weight: bold;
}

a {
	font: black;
	font-weight: bold;
}

.img{
	margin: auto;
	margin-bottom: 0%;
	display: block;
	width: 10%;

}

h3{
	text-align: center;
	font-weight: bold;
	margin-bottom: 2%; 
    font-family:Arial, Helvetica, sans-serif; 
}

p {
	margin-top: 2%;
	font-family: "Georgia", Tahoma, Sans-Serif;
	font-weight: bold;
}

#form-main {
	border-style: solid;
	border-color: grey;
	border-radius: 5%;
	margin: auto;
	padding: 2%;
}

#check{
	width: 20%;
	
}

.footer{
	margin-bottom: 25px;
	text-align: center;
	font-size: 14px;
	color: #989898
}

.check {
	margin-left: 2%;
	width: 20%;
	height: 12%;
}

.footer2 {
	margin-bottom: 0px;
	text-align: center;
	font-size: 14px;
	color: #989898
}
